#header{
    height: 32px;
    background: #f2f2f2;
    font-size: 12px;
    line-height: 32px;
    border-bottom: 1px solid #e5e5e5;
}

#login-info{
    float: left;
}

#quick-menu{
    float: right;
}


#quick-menu .menu-triangle{
    float: left;
}
#quick-menu .menu{
    float: left;
    /*background: #222;*/
    position: relative;
    padding: 0 14px;
    height: 33px;
}

#quick-menu .submenu{
    position: absolute;
    top: 32px;
    left: -1px;
    width: 74px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0 1px 1px 1px;
    padding: 0 14px;
    display: none;
    background: #ffffff;
}
#header .triangle:hover .submenu{
    display: block;
}

#header a,#login-info span{
    color: #999;
}
#header a:hover{
    color:#ff0036;
}

#header a{
    /*padding: 0 14px;*/
}

#header .triangle::after{
    content:'';
    border-width: 3px;
    border-style: solid;
    border-top-color:#999;
    border-bottom-color: transparent;
    border-left-color:transparent ;
    border-right-color:transparent ;
    width: 0;
    position: absolute;
    right: 2px;
    top: 40%;

    transition: none;
    transform-origin: 3px 1.5px;
}
#header .icon-shouji{
    font-size: 12px;
    color:#ff0036;

}
#header .icon-daohang{
    font-size: 12px;
    color:#ff0036;

}
#header .icon-gouwuchekong{
     font-size: 12px;
    color:#ff0036;

 }

#header .triangle:hover::after{
    transform: rotate(180deg);
    transition: transform .3s;

}
#header .triangle:hover{
    background-color: white;
    color: #ff0036;
}
#quick-menu .submenu{
    text-decoration: underline;
    border: 0 1px 0 1px;

}
#log-search #logo{
    width: 240px;
    height: 130px;
}
#quick-menu .menu triangle:hover{
    color: #ff0036;
    text-decoration: underline;

}
#quick-menu .submenu a:hover{
    text-decoration: underline;
}
#header .triangle:hover > a{
    text-decoration: underline;
    color: #FF0036;
}
#logo,#search{
    float: left;
}

#log-search #logo img{
    width: 240px;
}
#search .search-box{
    border:2px solid #FF0036;
    width: 625px;
    height: 36px;
    position: relative;


}
#log-search{
    height: 260px;
}
#search .search-ipt{
    width: 493px;
    height: 36px;
    border: none;
    outline: none;
    font-size: 14px;
    text-indent: 10px;

}
#search{
    margin-top: 38px;
    margin-left: 50px;
}
#search .search-btn{
    width: 132px;
    height: 36px;
    background: #FF0036;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: bold;
    float: right;
    outline: none;
    border: none;
}
#search .hot{
    float: left;
    border-right: 1px solid #ccc;
    padding:0 5px;
    line-height: 15px;
    margin-top: 5px;

}
#search .hot a{
    color: #999;
    font-size: 12px;
}
#search .hot-query-highlight a{
    color: #FF0036;
}
#search .last{
    border-right: none;
}
#main-nav .nav-img img{
    width: 100px;
    height: 30px;
}
#main-nav .nav li{
    float: left;
    line-height: 30px;
    margin-left: 10px;
}
#main-nav{
    width: 1903px;
    height: 39px;
}

#main-nav .nav{
    margin-left: 200px;
}
#main-nav .nav a{
    color: #333333;
    font-size: 16px;
}
#main-nav .nav a:hover{
   color: #FF0036;
}
#banner{
    background-color: #042769;
}

#banner .wrapper{
    height: 500px;
    background: url(../img/banner1.webp) no-repeat center;
    position: relative;
}

#banner .category-type{
    width: 200px;
    height: 536px;
    background-color: rgba(0, 0, 0, .55);
    position: absolute;
    top: -36px;
}

#banner .category-type li{
    height: 36px;
    padding-left: 10px;
    line-height: 36px;
}

#banner .category-type span, #banner .category-type i{
    color: #fff;
}

#banner .product-type{
    background-color: #FF0036;
}